@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /*---Police d'écriture---*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); /*---Police d'écriture---*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black; /*---Couleur police---*/
    text-decoration: none;
}
.index{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0; /*--- Pour qu'il n'y ai pas de bordure---*/
    position: relative;
    filter: brightness(60%); /*---Pour que l'image soit un peu sombre---*/
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
}
.cta{
    margin-left: auto;
}
.p {
    cursor: pointer;
}

.nav__links{
    list-style: none; /*--- Retiter les points des listes---*/
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:#052796; /*---Couleur police---*/
}

button {
    padding: 9px 25px;
    background-color: rgb(255, 218, 0); /*---Couleur de fond---*/
    border: none; /*--- Pour qu'il n'y ai pas de bordure---*/
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.menu-hamburger{
    position: absolute;
    top: 30px;
    right: 50px;
    display: none;
    width: 35px;
}

@media screen and (max-width:1350px) {
    .nav__links{
        padding: 0;
    }
    .menu-hamburger{
        display: block;
    }
    .nav__links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20); /*---Couleur de fond---*/
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 1s ease;
    }

    .nav__links.mobile-menu{
        margin-left: 0;
        
    }

    .nav__links{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .cta{
        display: block;
        margin-right: auto;
    }

    .nav__links li{
        margin: 25px 0;
        font-family: none;
    }
    li, a{
        font-size: 26px;
        color: rgb(4, 4, 120); /*---Couleur police---*/
    }
}
.facebook{
    width: 30px;
}
.instagram{
    width: 30px;
}
.twitter{
    width: 30px;
}

.footer{
    width: 100%;
    padding: 100px 325px;
    background: #303030;
    color: #efefef; /*---Couleur police---*/
    display:flex;
    margin:0;
    border: 0; /*--- Pour qu'il n'y ai pas de bordure---*/
}

.footer div{
    text-align: center;
    justify-content: center;
}
.col-2{
    width: 100%;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 30px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
    font-size: 16px;
}
.col-1 a:hover{
    color: rgb(255, 218, 0); /*---Couleur police---*/
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none; /*--- Pour qu'il n'y ai pas de bordure---*/
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff; /*---Couleur police---*/
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
form button:hover {
    background-color: rgb(232, 183, 58); /*---Couleur de fond---*/
}

.social-icons{
    margin-top: 30px;
}
.col-3 img{
    margin: 10px;
    cursor: pointer;
}


.nav__links .accueil{
    color: rgb(11, 181, 251); /*---Couleur police navbar---*/
}
.col-1 .accueil{
    color: rgb(255, 218, 0); /*---Couleur police de la page dans le footer---*/
}
.nav__links li .accueil:hover {
    color:rgb(11, 181, 251); /*---Couleur derière---*/
}
.contenu .text{
    position: absolute;
    font-family: "Montserrat", sans-serif;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #efefef; /*---Couleur police footer---*/
}
